<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<context:component-scan
		base-package="com.softtron.springAOP"></context:component-scan>

	<aop:aspectj-autoproxy />

	<!-- 定义切面 -->
	<bean id="JournalAspect"
		class="com.softtron.springAOP.aops.JournalAspect">
	</bean>
	<!-- configure properties of the aspect here -->
	<aop:config>
		<aop:aspect ref="JournalAspect">
			<aop:pointcut
				expression="execution(* com.softtron.springAOP.services.*.*(..))"
				id="JournalPointAspect" />
			<!-- 前置通知 -->
			<aop:before pointcut-ref="JournalPointAspect"
				method="before" />
			<aop:after pointcut-ref="JournalPointAspect" method="after" />
			<!-- 后置通知 -->
			<aop:after-returning
				pointcut-ref="JournalPointAspect" method="afterReturn"
				returning="value" />
			<aop:around method="around" pointcut-ref="JournalPointAspect" />
		</aop:aspect>
	</aop:config>
</beans>